.maria{

width: 120px;
border-radius: 50%;
border: 2px solid black;

}

#textBooking{

  font-size: 80px;
}

.bookingSection{

    width: 100%;
    height: 900px;
    background-color: #1e2338;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
width: auto full;
}

.mariaBooking2:hover{
  
    text-decoration: underline 2px;
  }
  #mariaBooking{
  
    font-size: 1.5rem;
  }

  #familyMembers{

    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 70px;
    align-items: center;
    text-align-last: center ;
  }
#eachFamilyMember{

    flex-direction: column;
    
  } 

  .cleanersNames{
    font-size: 1rem;
    margin: 10px;
  }

  #MariaSection{
display: flex;
flex-direction: column;
align-items: center;

  }


  @media (max-width: 1024px) {
    #textBooking {
      font-size: 2rem; /* Tamaño ajustado para tablets */
      
    }

  }

  @media (max-width: 799px) {
    #MariaSection {
      font-size: 1.5rem; /* Tamaño ajustado para móviles grandes */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 575px) {
    #textBooking {
        font-size: 1rem; /* Tamaño ajustado para tablets */
      }

      .mariaBooking2{

font-size: 1.2rem;
margin-top: 20px;

      }

      #textBooking{

        font-size: 1.8rem;
        text-align: center;
      }

      #familyMembers{
flex-direction: column;
gap: 0;
margin-top: 0;
      }
    .maria{

      width: 80px;
      border-radius: 50%;

    }
      #familyBooking{

        margin-top: 0px;
      }

      #textFamilyMembers{

        font-size: 1.5rem;
      }

      #booking {

       height: 1000px;
      }
      
  }

  .h4Tags {
    font-size: 1rem; /* Base size for small screens */
  }
  
  @media (min-width: 768px) {
    .h4Tags {
      font-size: 1rem; /* Larger font for tablets */
    }
  }
  
  @media (min-width: 1024px) {
    .h4Tags {
      font-size: 1em; /* Larger font for desktops */
    }
  }